# Лабораторная работа 6. Основы анализа данных Pandas.

Создайте таблицу

In [14]:
tab = [[3, 1, 2], [4, 5, 6]]

Выведите первую строку:

In [15]:
print(tab[0])

[3, 1, 2]

Подключим библиотеку Pandas

In [16]:
import pandas as pd

Давайте сделаем dataframe из нашей таблицы.

In [17]:
df = pd.DataFrame(tab)

In [18]:
df

   0  1  2
0  3  1  2
1  4  5  6

Выведите первый столбец с заголовками.

In [19]:
df

   0  1  2
0  3  1  2
1  4  5  6

Выведите первую строку с заголовками.

In [20]:
df.iloc[[0]]

   0  1  2
0  3  1  2

Выведите вторую строку.

In [21]:
df.iloc[[1]]

   0  1  2
1  4  5  6

Загрузим файл в Pandas. Выведите результат.

In [22]:
df = pd.read_csv(
    "lab6_1.csv"
)
df

     task   group10  group2  group3  group4
0  python       1.0     2.0     3.0     2.0
1     c++       2.3     1.2     2.2     1.2
2      c#       2.1     2.3     2.3     2.2
3    java       4.0     2.5     2.5     1.2
4     php       6.0     5.0     4.0     5.0

Верхняя строчка выделена полужирным т.к. рассматривается не как строчка с данными, а как строчка с именами столбцов. К столбцам можно обращаться по имени. Обратитесь к столбцу "group10"

In [23]:
de = df[' group10']
de

0    1.0
1    2.3
2    2.1
3    4.0
4    6.0
Name:  group10, dtype: float64

У строк по умолчанию нет имён, и им присваивются номера (левая полужирная колонка). Можно загрузить файл таким образом, чтобы первый столбец рассматривался как столбец с именами строк.

In [24]:
df = pd.read_csv(
    "lab6_1.csv",
    index_col=0
)

In [25]:
df

         group10  group2  group3  group4
task
python       1.0     2.0     3.0     2.0
c++          2.3     1.2     2.2     1.2
c#           2.1     2.3     2.3     2.2
java         4.0     2.5     2.5     1.2
php          6.0     5.0     4.0     5.0

Обратитесь к строке "python".

In [26]:
df.loc["python"]

 group10    1.0
group2      2.0
group3      3.0
group4      2.0
Name: python, dtype: float64

Убрать "task" можно следующим образом.

In [8]:
df.index.name = None

Обратитесь к конткретному элементу таблицы.

In [27]:
df.loc["java", "group4"]

1.2

Переименуйте столбец group10 в group1

In [28]:
df = df.rename({' group10':'group1'}, axis='columns')
df.columns

Index(['group1', 'group2', 'group3', 'group4'], dtype='object')

Сделайте срез из 3й и 4й строки.

In [29]:
df[2:4]

      group1  group2  group3  group4
task
c#       2.1     2.3     2.3     2.2
java     4.0     2.5     2.5     1.2

Сделайте срез из 2ого и 3его столбов.

In [30]:
df.loc[:, "group3":]

        group3  group4
task
python     3.0     2.0
c++        2.2     1.2
c#         2.3     2.2
java       2.5     1.2
php        4.0     5.0

Получите все строки, соответствующие отметкам по которым group1 получила оценку выше тройки

In [31]:
df[df['group1'] > 3]

      group1  group2  group3  group4
task
java     4.0     2.5     2.5     1.2
php      6.0     5.0     4.0     5.0

Посчитать среднюю отметку для каждого предмета.

In [32]:
df.mean(axis=1)

task
python    2.000
c++       1.725
c#        2.225
java      2.550
php       5.000
dtype: float64

Посчитать среднюю отметку для каждого языка (используйте транспонирование ".T").

In [33]:
df.T.mean()

task
python    2.000
c++       1.725
c#        2.225
java      2.550
php       5.000
dtype: float64

Тоже самое, только используйте направление (axis).

In [34]:
df.mean(axis=1)

task
python    2.000
c++       1.725
c#        2.225
java      2.550
php       5.000
dtype: float64

Найдите min для языков.

In [35]:
df.T.min()

task
python    1.0
c++       1.2
c#        2.1
java      1.2
php       4.0
dtype: float64

Найдите max для языков.

In [36]:
df.T.max()

task
python    3.0
c++       2.3
c#        2.3
java      4.0
php       6.0
dtype: float64

Тоже самое с группами.

In [37]:
df.min()

group1    1.0
group2    1.2
group3    2.2
group4    1.2
dtype: float64

In [38]:
df.max()

group1    6.0
group2    5.0
group3    4.0
group4    5.0
dtype: float64

# Часть 2. Более сложный датафрейм

Далее будем использовать открытые данные Москвы.

In [39]:
df = pd.read_csv(
    "lab6_2.csv",
    sep=';'
)

Таблица большая, выаедем несколько строк df.head()

In [40]:
df.head()

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
0,1,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",105.45,19693618,NaN
1,2,город Москва (за исключением Троицкого и Новом...,Водоотведение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,МГУП «Мосводоканал»,16.65,19693667,NaN
2,3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
3,4,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,газовая,с 07:00 по 23:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,4.03,19693607,NaN
4,5,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.01.2012,30.06.2012,да,газовая,с 23:00 по 07:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,0.95,19693669,NaN

Выведите столбец ROWNUM

In [41]:
df['ROWNUM']

0      1
1      2
2      3
3      4
4      5
      ..
66    67
67    68
68    69
69    70
70    71
Name: ROWNUM, Length: 71, dtype: int64

Не все так просто. Ответ - нет такого столбца. Но он же есть!

Воспользуйтесь командой list для вывода столбцов.

In [42]:
list(df)

['ROWNUM',
 'Region',
 'TariffItem',
 'UnitOfMeasure',
 'StartDate',
 'EndDate',
 'MeasureDeviceAvail',
 'StoveType',
 'ConsumptionTime',
 'ConsumptionTarget',
 'Agency',
 'TariffValue',
 'global_id',
 'Unnamed: 13']

Перед ROWNUM есть невидимый символ, кодирующийся как \ufeff. Чтобы его не считать, нужно использовать encoding='utf-8-sig'

In [43]:
df = pd.read_csv(
    "lab6_2.csv",
    sep=';',
    encoding = 'utf-8-sig'
)

Покажите, что ошибка исправлена (df['ROWNUM'])

In [44]:
df['ROWNUM']

0      1
1      2
2      3
3      4
4      5
      ..
66    67
67    68
68    69
69    70
70    71
Name: ROWNUM, Length: 71, dtype: int64

Данных столбец нам в этом виде не понадобится. Сделаейте его индексом строк.

In [45]:
df['ROWNUM'] = df.index

Продемонстрируйте.

In [46]:
df

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
0,0,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",105.45,19693618,NaN
1,1,город Москва (за исключением Троицкого и Новом...,Водоотведение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,МГУП «Мосводоканал»,16.65,19693667,NaN
2,2,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
3,3,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,газовая,с 07:00 по 23:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,4.03,19693607,NaN
4,4,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.01.2012,30.06.2012,да,газовая,с 23:00 по 07:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,0.95,19693669,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,66,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,газовая,с 17:00 по 21:00 ч (многотарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,4.03,19693301,NaN
67,67,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.01.2012,30.06.2012,да,электрическая,без дифференциации по времени потребления,на бытовые нужды,ОАО «Мосэнергосбыт»,2.65,19693599,NaN
68,68,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,электрическая,с 17:00 по 21:00 ч (многотарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,2.82,19693614,NaN
69,69,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,электрическая,с 07:00 по 23:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,2.82,19693676,NaN
70,70,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693683,NaN

 В таблице собраны разные данные: тарифы на электроэнергию, газ т.д. Запишите в q_gas данные за газ.

In [47]:
q_gas = df[df['TariffItem'] == 'Газ']
q_gas.head()

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,2,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
6,6,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,на приготовление пищи и горячее водоснабжение ...,ООО «Мосрегионгаз»,4.09,19693595,NaN
7,7,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.09,19693684,NaN
10,10,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.70,19693624,NaN
11,11,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,2930.00,19693625,NaN

Теперь, используя groupby, запишите в groups различные тарифы. Теперь выведите тарифы за Водоотведение.

In [48]:
groups = df.groupby('TariffItem')
groups.get_group('Газ').head()

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,2,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
6,6,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,на приготовление пищи и горячее водоснабжение ...,ООО «Мосрегионгаз»,4.09,19693595,NaN
7,7,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.09,19693684,NaN
10,10,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.70,19693624,NaN
11,11,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,2930.00,19693625,NaN

Выведите список групп.

In [49]:
groups.groups.keys()

dict_keys(['Водоотведение', 'Газ', 'Горячее водоснабжение', 'Отопление', 'Твердое топливо', 'Холодное водоснабжение', 'Электроэнергия'])

Посчитайте средние тарифы.

In [50]:
df.groupby('TariffItem').mean()

                           ROWNUM  TariffValue     global_id  Unnamed: 13
TariffItem
Водоотведение           23.000000    17.950000  1.969357e+07          NaN
Газ                     31.050000   651.415000  1.969359e+07          NaN
Горячее водоснабжение   25.833333   100.095000  1.969352e+07          NaN
Отопление               41.666667  1208.423333  1.969363e+07          NaN
Твердое топливо         52.000000  1126.000000  1.969363e+07          NaN
Холодное водоснабжение  58.666667    25.223333  1.969364e+07          NaN
Электроэнергия          36.312500     2.571250  1.969359e+07          NaN

Далее приведем в порядок тарифы за газ. Вычислите кол-во различных UnitOfMeasure (единица измерения).

In [51]:
q_gas['UnitOfMeasure'].value_counts()

руб/куб.м         8
руб/чел           6
руб/1000 куб.м    4
руб/кв.м          2
Name: UnitOfMeasure, dtype: int64

Замените руб/кв.м на руб/куб.м (это ошибка).

In [52]:
qkvm = q_gas['UnitOfMeasure'] == 'руб/кв.м'
q_gas[qkvm]

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,2,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
51,51,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.01.2012,30.06.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,22.27,19693622,NaN

In [53]:
q_gas = q_gas.copy()
q_gas.loc[qkvm, 'UnitOfMeasure'] = "руб/куб.м"
q_gas['UnitOfMeasure'].value_counts()

руб/куб.м         10
руб/чел            6
руб/1000 куб.м     4
Name: UnitOfMeasure, dtype: int64

Все значения в строках где руб/1000 куб.м умножьте на 1000.

In [54]:
q_gas.loc[q_gas['UnitOfMeasure'] == "руб/1000 куб.м", "TariffValue"] *= 1000
q_gas

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,2,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
6,6,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,на приготовление пищи и горячее водоснабжение ...,ООО «Мосрегионгаз»,4.09,19693595,NaN
7,7,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.09,19693684,NaN
10,10,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.70,19693624,NaN
11,11,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,2930000.00,19693625,NaN
12,12,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.70,19693623,NaN
13,13,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,"на отопление жилых помещений, а также в случае...",ООО «Мосрегионгаз»,2.93,19693594,NaN
14,14,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и отсутст...,ООО «Газпром межрегионгаз Москва»,42.49,19693680,NaN
21,21,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693685,NaN
22,22,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и газовог...,ООО «Газпром межрегионгаз Москва»,97.76,19693306,NaN
23,23,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.70,19693307,NaN
31,31,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и газовог...,ООО «Газпром межрегионгаз Москва»,84.98,19693621,NaN
35,35,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и отсутст...,ООО «Газпром межрегионгаз Москва»,48.88,19693681,NaN
45,45,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.07.2012,31.12.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и централ...,ООО «Газпром межрегионгаз Москва»,39.01,19693305,NaN
51,51,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.01.2012,30.06.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,22.27,19693622,NaN
59,59,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,3370000.00,19693626,NaN
61,61,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление и (или) выработку электрической э...,ООО «Газпром межрегионгаз Москва»,2930000.00,19693627,NaN
63,63,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на отопление и (или) выработку электрической э...,ООО «Газпром межрегионгаз Москва»,3370000.00,19693628,NaN
65,65,город Москва (за исключением Троицкого и Новом...,Газ,руб/чел,01.01.2012,30.06.2012,нет,NaN,NaN,при наличии в квартире газовой плиты и централ...,ООО «Газпром межрегионгаз Москва»,33.91,19693679,NaN
70,70,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693683,NaN

Измените единицу измерения на руб/куб.м.

In [55]:
e = q_gas['UnitOfMeasure'] == 'руб/1000 куб.м'
q_gas.loc[e, 'UnitOfMeasure'] = "руб/куб.м"

Повторно пересчитайте тарифы. Строк с "руб/куб.м" должно быть 12.

In [56]:
q_gas['UnitOfMeasure'].value_counts()

руб/куб.м    14
руб/чел       6
Name: UnitOfMeasure, dtype: int64

Для всех таких строк вызовите метод describe().

In [57]:
q_gas.loc[q_gas['UnitOfMeasure'] == 'руб/куб.м'].describe()

          ROWNUM   TariffValue     global_id  Unnamed: 13
count  14.000000  1.400000e+01  1.400000e+01          0.0
mean   29.214286  9.000058e+05  1.969361e+07          NaN
std    25.292682  1.481773e+06  9.413788e+01          NaN
min     2.000000  2.930000e+00  1.969331e+07          NaN
25%    10.250000  4.090000e+00  1.969362e+07          NaN
50%    17.000000  4.700000e+00  1.969363e+07          NaN
75%    57.000000  2.197506e+06  1.969367e+07          NaN
max    70.000000  3.370000e+06  1.969368e+07          NaN

# Часть 3. Более сложные запросы

Из исходной таблицы сделайте выборку тех строк, в которых в качестве единицы измерения указаны руб/кв.м и указан тариф на газ.

In [60]:
idf = pd.read_csv(
    "lab6_2.csv",
    sep=';'
)
df = idf.loc[idf['UnitOfMeasure'] == 'руб/кв.м']
df = idf.loc[idf['TariffItem'] == 'Газ']
df = idf.loc[idf['TariffValue'] != ""]
df

c:\users\admin\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
0,1,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",105.45,19693618,NaN
1,2,город Москва (за исключением Троицкого и Новом...,Водоотведение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,МГУП «Мосводоканал»,16.65,19693667,NaN
2,3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
3,4,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,газовая,с 07:00 по 23:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,4.03,19693607,NaN
4,5,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.01.2012,30.06.2012,да,газовая,с 23:00 по 07:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,0.95,19693669,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,67,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,газовая,с 17:00 по 21:00 ч (многотарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,4.03,19693301,NaN
67,68,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.01.2012,30.06.2012,да,электрическая,без дифференциации по времени потребления,на бытовые нужды,ОАО «Мосэнергосбыт»,2.65,19693599,NaN
68,69,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,электрическая,с 17:00 по 21:00 ч (многотарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,2.82,19693614,NaN
69,70,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,электрическая,с 07:00 по 23:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,2.82,19693676,NaN
70,71,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на приготовление пищи и нагрев воды с использо...,ООО «Газпром межрегионгаз Москва»,4.09,19693683,NaN

Сделайте такой же запрос через query.

In [61]:
idf.query('TariffItem == "Газ" and UnitOfMeasure == "руб/кв.м" and TariffValue != ""')

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
51,52,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.01.2012,30.06.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,22.27,19693622,NaN

Далее использовать будем открытые данные Москвы за 2016 год. Используйте для этого файл tariff.json. Преобразуйте в необходимый формат.

In [62]:
df = pd.read_json('tariff.json')
df = df.query('Region == "город Москва (за исключением Троицкого и Новомосковского АО)"')
df

ValueError: Unexpected character found when decoding 'true'

Вычислите средний тарифф.

In [63]:
df["TariffValue"].mean()

312.91845070422534

Придумайте себе два запроса и реализуйте их ниже.

In [64]:
df.query('UnitOfMeasure == "руб/куб.м" and TariffItem == "Горячее водоснабжение"')

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
0,1,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",105.45,19693618,NaN
16,17,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.09.2012,31.12.2012,да,NaN,NaN,NaN,ОАО «Мосэнерго» и ОАО «МТК»,93.38,19693620,NaN
20,21,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.07.2012,31.08.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",111.44,19693303,NaN
30,31,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,ОАО «Мосэнерго» и ОАО «МТК»,84.62,19693678,NaN
39,40,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.09.2012,31.12.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",116.00,19693304,NaN
50,51,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.07.2012,31.08.2012,да,NaN,NaN,NaN,ОАО «Мосэнерго» и ОАО «МТК»,89.68,19693619,NaN

In [65]:
df.query('TariffItem == "Горячее водоснабжение" and ConsumptionTarget != ""')

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
0,1,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",105.45,19693618,NaN
16,17,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.09.2012,31.12.2012,да,NaN,NaN,NaN,ОАО «Мосэнерго» и ОАО «МТК»,93.38,19693620,NaN
20,21,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.07.2012,31.08.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",111.44,19693303,NaN
30,31,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,ОАО «Мосэнерго» и ОАО «МТК»,84.62,19693678,NaN
39,40,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.09.2012,31.12.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",116.00,19693304,NaN
50,51,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.07.2012,31.08.2012,да,NaN,NaN,NaN,ОАО «Мосэнерго» и ОАО «МТК»,89.68,19693619,NaN